<div fxLayout="column" fxLayoutAlign="center center" >
  <mat-card class="login-card">
      <mat-card-header fxLayoutAlign="center center" >
          <mat-card-title>
                  <span><b>Login !!!</b></span>
          </mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <div fxLayout="column" fxLayoutAlign="center center" >
          <mat-form-field appearance="outline" class="user-name">
                  <mat-label>User Id</mat-label>
                  <input matInput placeholder="User Id" [(ngModel)]="userId">
                  <mat-hint>Hint</mat-hint>
          </mat-form-field>
         

          <mat-form-field appearance="outline" class="user-password">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="Password" [(ngModel)] ="password">
                  <mat-hint>Hint</mat-hint>
          </mat-form-field>
          </div>
      </mat-card-content>
      <div fxLayout="column" fxLayoutAlign="center center" >
      <mat-card-actions>
              <button class="login-button" (click)="onLogin()" mat-raised-button color="primary">Log In</button>
              <nav>
                        <h4><b> New User? <a [routerLink]="['/register']">Click Here</a></b></h4>
              </nav>
         
      </mat-card-actions>
      </div>

  </mat-card>
</div>