<mat-card class="example-card" fxLayout="column" fxLayoutAlign="space-around center">
  <mat-card-header>
    <mat-card-title>
      <b>{{note.noteTitle}}</b>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{note.noteContent}}
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="column" fxLayout="end end">
      <button mat-button color="warn" (click)="deleteNote(note)">Delete</button>
      <button mat-button color="primary">Update</button>
    </div>
  </mat-card-actions>
</mat-card>
